<div class="container-fluid paddingLR0 paddingTB10 bc-white">

  <div class="cover_body">

  <div class="title">
  Welcome to the WE-COLLAB(*) Project website<br/>​
  and collaboration platform
  </div>
  <div class="sub_title">
 (*) Collaborative and transparent use of Learning Analytics in online university courses, 
     valuing the learner role and exploiting advanced monitoring equipment
  </div>

<p style="text-align: center; margin-top: 1em; margin-bottom: 1em;"><a title="WE-COLLAB community" href="/project/we-collab/"><em>
	go to the home of the WE-COLLAB community and use the About menu to come back to this Cover page
</em></a></p>

  <div class="para_title">
  Project objectives
  </div>
  <div class="cover_para">
  We are currently at a critical junction on the road to the digital transformation of higher education:<br/>
  At the beginning of the COVID-19 crisis, higher education institutions rushed to adopt online teaching on a scale never seen before.
  Now, as countries across Europe are scaling up their vaccination programs and ease lockdown restrictions,
  many students no longer want the rigidity of a single mode of delivery, 
  and prefer more flexible blends of asynchronous, synchronous and F2F  modes.  
  </div>
  <div class="cover_para">
  Inexperienced online teachers tend to replicate their face-to-face courses 
  instead of redesigning them in order to address the challenges of online learning. 
  Under-resourced IT units are not able to provide teachers with the expertise they need 
  to re-think their pedagogy and to provide effective and inclusive instruction to all their students.  
  </div>
  <div class="cover_para">
  The project WE-COLLAB directly addressed challenges that often characterise poorly designed online courses,
  such as ‘Zoom fatigue’, higher levels of distractibility and information overload. 
  Non-cognitive challenges include lack of self-regulation and a sense of being isolated from teachers and peers.
  Another objective was helping teachers to build higher levels of engagement into the course design, 
  using innovative methods of identification of cognitive and emotional states 
  derived from research on behavioural and neurophysiological data analysis.  
  </div>
  <div class="cover_para">
  A third objective dealt with enabling teachers to utilize learning analytics (LA) to recognize the need for extra attention, 
  when the impossibility of communicating nonverbally makes it extremely difficult to to identify online students at risk of dropping out.
  But LA can also provide an essential support to students' self-regulated learning strategies 
  as well as channels to send implicit and explicit feedback signals to the teachers, 
  as long as tracking and analysis tools are introduced transparently and used in a controlled manner 
  in order to create a climate of mutual trust.  
  </div>
  <div class="cover_para">
  The project also provided an experimentation environment for assessing and improving 
  new approaches to the analysis of learning materials and teaching styles 
  in order to achieve higher levels of student engagement in learning, 
  both in emergency situations - like the one we faced in 2020-2021 - and in the “new normality”.
  </div>

  <div class="para_title">
  Activities and results
  </div>

  <div class="result_title">
  PR1 - Infrastructure and tools development
  </div>
  <ul>
	  <li>Presentation at KTU - Kaunas Technical University: The Student Feedback App (LINK - Project Meeting in Kaunas, 29-30 November 2022)
		  <a href="/online_resource/1011/view" title="view"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
	  <li>Presentation at UAM - Universidad Autónoma de Madrid: Analysis of Student Feedback App (UAM - Project Meeting in Madrid, 1-2 October 2024)</li>
	  <li>Learning Path: Development of a Student Feedback App for the WE-COLLAB project</li>
  </ul>

  <div class="result_title">
  PR2 - Digital materials analysis
  </div>
  <ul>
	  <li>Learning Path: Tools for Text Analysis in WE-COLLAB</li>
	  <li>Learning Path: Possible use of glossaries in WE-COLLAB</li>
	  <li>Learning Path: Prototypical Collection of Learning Materials for Essay Writing Course at Sapienza</li>
  </ul>

  <div class="result_title">
  PR3 - Learning Analytics and Self-Regulated Learning 
  </div>
  <ul>
	  <li>Learning Path: Pedagogical Aspects of Learning Analytics</li>
	  <li>Learning Path: Technological Aspects of Learning Analytics</li>
	  <li>Presentation at UNIRI - University of Rijeka: KTU Experience in Learning Analytics Tools, Technologies, Applications (KTU - Multiplier Event of UNIRI - 09 December 2024)</li>
  </ul>

  <div class="result_title">
  PR4 - Learning laboratory
  </div>
  <ul>
	  <li>Presentation at UNIRI - University of Rijeka: Major findings - Videos used in online learning: what works best? (CBS - Multiplier Event of UNIRI - 09 December 2024)</li>
  </ul>

  <div class="result_title">
  PR5 - Cognitive and emotional assessment of learners
  </div>
  <ul>
	  <li>Presentation at NTUA - National Technical University of Athens (BrainSigns - Multiplier Event of NTUA - 27 June 2024)</li>
	  <li>Presentation at UAM - Universidad Autónoma de Madrid: Cognitive and emotional assessment of learners - Final results from conducted experiments (BrainSigns - Project Meeting in Madrid, 1-2 October 2024)</li>
	  <li>Presentation at Sapienza - Università di Roma (BrainSigns - Multiplier Event of Sapienza - 03 December 2024)</li>
	  <li>Presentation at UNIRI - University of Rijeka (BrainSigns - Multiplier Event of UNIRI - 09 December 2024)</li>
  </ul>

  <div class="result_title">
  PR6 - Best practices and dissemination
  </div>
  <ul>
	  <li></li>
	  <li></li>
  </ul>

  <div class="para_title">
  Publications
  </div>
  <ul>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
  </ul>

<p style="text-align: center; margin-top: 1em; margin-bottom: 1em;"><a title="WE-COLLAB community" href="/project/we-collab/"><em>
	go to the home of the WE-COLLAB community and use the About menu to come back to this Cover page
</em></a></p>

  <div class="para_title" style="text-align:center">
  Consortium
  </div>

<p style="text-align: center;"><span style="color: gray;">The project consortium consists of eight institutions - research centers, universities, and SMEs - representing six European countries:<br />Croatia, Denmark, Greece, Italy, Lithuania, and Spain.</span></p>
<table style="margin: 0 auto;">
<tbody>
<tr>
<td style="padding: 10px 20px 10px 0px; vertical-align: middle;"><img class="img-responsive-basic pull-right marginL10" src="https://institute.eib.org/wp-content/uploads/2020/11/UNIRI_Logotip_i_grb.jpg" alt="UNIRI | University of Rijeka" width="240" height="95" /></td>
<td style="padding: 10px 0px 10px 20px; vertical-align: middle;"><img class="img-responsive-basic pull-left marginR10" src="https://cbs.dk/sites/default/themes/school/CBSlogo.svg" alt="CBS - Copenhagen Business School" width="300" height="33" /></td>
</tr>
<tr>
<td style="padding: 10px 20px 10px 0px; vertical-align: middle;"><img class="img-responsive-basic pull-right marginL10" src="https://success4all.eu/wp-content/uploads/2021/05/NTUA-300x139.png" alt="NTUA - National Technical University of Athens" width="240" height="111" /></td>
<td style="padding: 10px 0px 10px 20px; vertical-align: middle;"><img class="img-responsive-basic pull-left marginR10" src="https://en.ktu.edu/wp-content/uploads/sites/5/2016/08/KTU-EN.svg" alt="KTU - Kaunas University of Technology" width="240" height="132" /></td>
</tr>
<tr>
<td style="padding: 10px 20px 10px 0px; vertical-align: middle;"><img class="img-responsive-basic pull-right marginL10" src="https://www.uniroma1.it/sites/default/files/images/logo/sapienza-big.png" alt="Sapienza - Universit&agrave; di Roma" width="240" height="116" /></td>
<td style="padding: 10px 0px 10px 20px; vertical-align: middle;"><img class="img-responsive-basic pull-left marginR10" src="https://www.uam.es/uam/media/img/1606848841283/desktop-mobile-redimensionado.svg" alt=" UAM - Universidad Aut&oacute;noma de Madrid" width="270" height="45" /></td>
</tr>
<tr>
<td style="padding: 10px 20px 10px 0px; vertical-align: middle;"><img class="img-responsive-basic pull-right marginL10" src="https://www.brainsigns.com/images/demo/LogoBS.png" alt="BrainSigns srl - Roma" width="240" height="62" /></td>
<td style="padding: 10px 0px 10px 20px; vertical-align: middle;"><img class="img-responsive-basic pull-left marginR10" src="https://www.linkroma.it/wp-content/uploads/2017/07/Link_logo_cmyk.png" alt="LINK srl - Roma" width="180" height="50" /></td>
</tr>
</tbody>
</table>

<p style="text-align: center; padding-top: 10px; border-top: 1px solid #333333;">
The WE-COLLAB project lasted from February 2022 to January 2025. It has been funded by the ERASMUS+ Programme of the EU under the Agreement 2021-1-HR01-KA220-HED-000027562.</p>

  </div>

</div>
